body {
    background-color: rgb(170, 152, 131);
}

header {
    text-align: center;
    color: rgb(235, 198, 154);
    font-style: italic;
    font-size: 35px;
}

ul {
    background-color: blanchedalmond;
    width: 12%;
    text-align: start;
    border-radius: 50px 15px 14px 4px;
    padding-right: 25px;
}

ul:hover {
    background-color: rgb(95, 77, 77);
    width: 12%;
    text-align: start;
    border-radius: 50px 15px 14px 4px;
    padding-right: 25px;
}

ul li {
    list-style: none;
    text-align: start;
}

nav {
    text-align: center;
    font-size: 20px;
    font-family: Arial;
    color: rgb(255, 222, 180);
}

nav:hover {
    background-color: rgb(170, 152, 131);
    width: 100%;
    border-radius: 50px 15px 14px 4px;
    padding-right: 25px;
}

ul:hover {
    background-color: rgb(95, 77, 77);
    width: 12%;
    text-align: start;
    border-radius: 50px 15px 14px 4px;
    padding-right: 25px;
}

a {
    background-color: blanchedalmond;
    list-style: none;
    text-align: start;
    text-decoration: none;
    color: rgb(207, 161, 105);
    font-weight: bold;
    flex-direction: column;
}

a:hover {
    background-color: rgb(95, 77, 77);
    width: 12%;
    text-align: start;
    border-radius: 50px 15px 50px 4px;
    padding-right: 25px;
}

footer div {
    background-color: rgb(95, 77, 77);
    color: white;
    text-align: center;
    padding: 15px 0px 15px 0px;
    border-radius: 25px;
}

footer div p {
    font-size: 15px;
    padding-top: 25px;
}

footer #footeryazi {
    font-size: 30px;
    padding-bottom: 25px;
}

body #resim {
    opacity: 0.4;
}

div #kutukapla {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 50%;
    margin-left: 90px;
}

div.kutu {
    color: rgb(207, 161, 105);
    margin: 25px;
    background-color: rgb(95, 77, 77);
    border-radius: 20px;
    height: 500px;
}

img {
    border-radius: 50%;
    margin: 25px;
    padding-bottom: 20px;
    width: 200px;
}

h3 {
    text-align: center;
}