h1,
h4 {
    color: #ff22aa;
    border: 2px double red;
    padding: 10px;
}

p {
    color: aqua;
    padding: 30px;
    background-color: rgb(131, 206, 109);
}

body {
    background-color: #ffaa;
}

div {
    border: 20px double red;
    width: 100px;
    height: 100px;
    background-color: black;
    color: bisque;
    padding: 20px 40px 30px 5px;
    margin-left: 20px;
    margin-bottom: 25px;
}

table {
    width: 80%;
    border-collapse: collapse;
}

td,
th,
table {
    border: 2px solid brown;
}

td {
    height: 40px;
    text-align: left;
    vertical-align: center;
    padding: 5px;
}

th {
    text-align: left;
    height: 30px;
    background-color: red;
    color: white;
}

tr:nth-child(even) {
    background-color: pink;
}

tr:nth-child(odd) {
    background-color: yellow;
}

tr:hover {
    background-color: gray;
}

#h2 {
    color: red;
}

#resim {
    border-radius: 70px, 20px, 50px, 5px;
    border: 4px double purple;
}

body {
    font-family: Tahoma;
}

span {
    font-family: 'Courier New';
}

li {
    font-family: Arial;
    font-weight: bold;
}

h2.nokta {
    color: red;
}

.nokta {
    background-color: yellow;
    width: 50%;
}

.paragraf {
    background-color: pink;
    border: 2px solid purple;
    padding: 5px;
    color: rgb(211, 35, 35);
}

input[type="text"],
input[type=password] {
    width: 95%;
    padding: 10px;
    margin: 10px;
    border: 1px solid red;
    color: rgb(19, 19, 19);
    background-color: yellowgreen;
    border-radius: 10px;
}

input[type="text"].focus,
input[type="password"].focus {
    background-color: lightblue;
}

input[type="submit"] {
    background-color: rgb(110, 227, 188);
    padding: 5px;
    border-radius: 10px;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

input[type="submit"].hover {
    background-color: red;
}

div {
    width: 90%;
    height: 100%;
    padding: 10px;
    border: 2px solid red;
    background-color: rgb(38, 29, 92);
    text-align: left;
}