h2{
    background-color: teal;
    color: white;
    text-align: center;
}
div{
    padding: 10px 10px 5px 5px;
    text-align: center;
    background-color: bisque;
    margin:10px 10px 10px 10px;

}